:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --blue: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: var(--blue) !important;
}

.app {
  display: flex;
  overflow: hidden;
}

.navbar {
  flex: 0.2;
  min-width: 260px;
  background-color: rgb(0, 21, 41);
}

.main {
  flex: 0.8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .ant-layout {
  width: 100%;
}

.container-padding {
  padding: 32px 50px;
}

.nav-container {
  position: fixed;
  left: 0;
  margin: 10px;
  height: 100vh;
  margin: 0px;
  background-color: rgb(0, 21, 41);
}

.logo-container {
  background-color: #001529;
  display: flex;
  padding: 20px 20px 27px;
  align-items: center;
  width: 100%;
}
.logo-container > svg {
  margin-top: 3px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.logo.ant-typography {
  margin-bottom: 3px;
}
.logo a {
  color: white;
}
.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}

.menu-control-container.ant-btn {
  margin-top: 10px;
  height: 38px;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }

  .navbar {
    flex: 1;
  }

  .main {
    flex: 1;
    margin-top: 110px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .nav-container {
    height: auto;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--bgSecondary);
  }

  .menu-control-container {
    display: block !important;
  }

  .ant-menu {
    position: absolute;
    right: 0px;
  }
  .home-title {
    font-size: 1.4rem !important;
  }
  .show-more {
    font-size: 1.3rem !important;
  }
}

.coin-detail-container {
  margin: 30px;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--blue);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--blue);
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--blue) !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--blue);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--blue);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--blue);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

.select-news {
  width: 180px;
}
.news-card {
  min-height: 300px !important;
  flex-grow: 1;
  height: 100%;
}
.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}
.news-title {
  width: 70%;
  margin-right: 10px;
}

.news-image-container img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.news-card p {
  color: black;
  margin: 10px 0px !important;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.provider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.provider-name {
  margin-left: 10px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}
.chart-title {
  color: #0071bd !important;
}
.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.price-change {
  font-weight: 900 !important;
}
.current-price {
  margin-top: 0px !important;
  font-weight: 900 !important;
}
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.show-more {
  margin-top: 0px !important;
}
.exchange-image {
  margin: 0px 10px !important;
}
.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}
.crypto-card-container {
  min-height: 65vh !important;
}
.crypto-card {
  min-width: 250px;
}
.crypto-card .crypto-image {
  width: 35px;
}
.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}

.footer {
  width: 100%;
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

/*/ NEWS /*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.temp {
  display: flex;
  flex: 1 0 300px;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.temp:hover {
  box-shadow: 0px 9px 27px rgba(51, 51, 51, 0.27);
}

.temp a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-border.ant-card {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

/*/ Exchanges /*/
.exchanges-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.exchanges-col {
  flex: 0.7;
  margin: 0 10px;
}

.exchanges-col:nth-of-type(1) {
  flex: 1.5;
}

.col-title {
  font-weight: 600;
}

.row-title {
  padding: 0.5rem 1rem 0.5rem 1.5rem;
}

.col-title:nth-of-type(1) {
  flex: 1.1;
}

@media screen and (max-width: 980px) and (min-width: 784px) {
  .news-card {
    min-height: 250px !important;
  }
}

@media screen and (max-width: 708px) {
  .news-card {
    min-height: 250px !important;
  }
}

@media screen and (min-width: 700px) {
  .ant-menu.ant-menu-dark {
    padding: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .ant-menu.ant-menu-dark {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .container-padding {
    padding: 20px 30px;
  }
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
  .heading {
    margin-top: 20px;
  }
}

/* Not Found */

.header {
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: var(--light-blue);
  align-self: flex-start;
}

.header h2 {
  font-weight: bold;

  font-size: 28px;
  color: var(--blue);
  text-shadow: 2px 2px 3px white, -1px -1px 2px white;
}

.notFound {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 1.7rem;
}

.notFound .notFoundWrapper {
  padding: 1.57rem;
  max-width: 27rem;
  width: 50%;
  min-width: 23rem;
  background: rgba(255, 255, 255, 0.218);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 3px solid rgba(255, 255, 255, 0.18);
  box-shadow: 13px 13px 20px 5px rgba(0, 0, 0, 0.518),
    -5px -5px 20px 5px rgba(0, 0, 0, 0.518);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.618);
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.content .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 51px;
  letter-spacing: -0.035em;
  color: var(--light-blue);
  margin-right: -1.4rem;
  word-wrap: break-word;
  padding-right: 1.57rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  max-width: 330px;
}

.content .text {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: var(--light-blue);
  padding: 2.14rem 0 4.71rem 0;
  max-width: 381px;
}

/* Button */
.btnNavNotFound a {
  font-weight: 600;
  font-size: 1.21rem;
  line-height: 1.42rem;
  padding: 1rem 1.71rem;
  color: white;
  background-color: var(--blue);
  border: solid 1px transparent;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.btnNavNotFound a:hover {
  color: var(--blue);
  background: rgba(255, 255, 255, 0.5);
  border: solid 1px var(--blue);
}

@media screen and (max-width: 650px) {
  .notFound .notFoundWrapper {
    min-width: 19rem;
  }
}
